# Python
__pycache__/
*.pyc
venv/
env/
.env

# Ignore only the large model file
out/model.safetensors

# Common ignores
__pycache__/
*.pyc
venv/
env/
.env

*.pt
*.bin
# data/*.jsonl
# data/*.json
tokenizer.json
vocab.txt


# IDE/editor files
.vscode/
.idea/
